{% extends "pizzas/base.html" %}

{% block content %}
<head>
    <title>Pizza Planet Home Page</title>
</head>
<body>
    <pre>
     ____  _                    ____  __                 __ 
    / __ \(_)_______  ____ _   / __ \/ /___ _____  ___  / /_
   / /_/ / /_  /_  / / __ `/  / /_/ / / __ `/ __ \/ _ \/ __/
  / ____/ / / /_/ /_/ /_/ /  / ____/ / /_/ / / / /  __/ /_  
 /_/   /_/ /___/___/\__,_/  /_/   /_/\__,_/_/ /_/\___/\__/                                                                
    

                            ()
                          __/\__         
                 |\   .-"`      `"-.   /|
                 | \.'( .) (. ) (. )`./ |
                  \_                  _/
                    \  `~"'=::='"~`  /
             ,       `-.__      __.-'       ,
         .---'\________( `""~~""` )________/'---.
          >   )       / `""~~~~""` \       (   <
         '----`--..__/        -(-)- \__..--`----'
                     |_____ __ _____|
                     [_____[##]_____]  THE CLAWWWW...
                     |              |    
                     \      ||      /     
                      \     ||     /
                   .-"~`--._||_.--'~"-.
                  (_____,.--""--.,_____)

    </pre>
</body>
</html>
{% endblock content %}