{% extends "pizzas/base.html" %}

{% block content %}

    <p>Try one of our delicious pizzas!</p>

    <!--In standard HTML, a bullited list is called an unordered list
        and is indicated by the tags <ul></ul>. -->

    <ul>
        <!-- for loop to loop through each topic
             NOTE: not like python, needs a endfor -->
        {% for pizza in pizzas %}
       
            <li>
                <a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a>
            </li> <!-- li = list item -->
        {% empty %} <!-- if the list is empty then display message -->
            <li>No pizzas have been added yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}
